<ion-view view-title="Product Details" class="loginview">
    <ion-header-bar align-title="left" class="bar-positive bar-teal">
        <div class="buttons">
            <i class="icon ion-arrow-left-c backIcon" ng-click="readMore.back();"></i>
        </div>
        <h1 class="title">Read More</h1>
    </ion-header-bar>
    <ion-content class="loginview">
        <div class="loginview" ng-controller="CarouselCtrl">
            <div class="card">
                <div class="item item-text-wrap">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nunc nisi, dignissim nec porttitor at, mollis ac dolor. Nullam facilisis convallis ipsum a vestibulum. Aliquam magna felis, pharetra a lorem a, euismod porttitor nisi. Curabitur sit amet ligula non justo porta ultricies. Mauris ac urna nulla. Nulla maximus elementum laoreet. Donec eros sem, suscipit ac sagittis ac, placerat eget nisi. Etiam pellentesque auctor eros, at efficitur ipsum mattis quis. Sed ac accumsan tellus, sed blandit magna. Donec pellentesque consectetur orci eget porta. Maecenas condimentum mattis magna sed sodales. Proin suscipit tellus est. Vestibulum et libero eleifend, feugiat odio eget, sodales quam.

                    Nunc mattis elit at lacinia eleifend. Praesent varius sem sem. Morbi vehicula fermentum mi, nec elementum lorem. Mauris blandit sit amet tellus quis volutpat. Etiam nunc lacus, vehicula et erat quis, viverra dignissim erat. Nulla pharetra, risus vel rutrum interdum, velit erat hendrerit eros, quis aliquam nunc sem eget augue. Sed rutrum a lectus id rhoncus. Nam enim ex, pharetra ac molestie quis, tempor in nisi.

                    Sed ut ante id ante efficitur varius. Duis eu rutrum lacus, vel finibus justo. Aliquam sollicitudin felis bibendum molestie facilisis. Nulla at ex velit. Duis dapibus consectetur lacus, ut elementum nunc ullamcorper at. Vivamus pharetra sit amet turpis et interdum. Sed arcu quam, maximus eu dui eu, imperdiet volutpat urna. Quisque in tristique arcu, nec imperdiet velit. Sed ut libero sit amet turpis tristique convallis et pulvinar nulla. Sed vel lorem ac sem porta interdum in non leo. Duis tristique tempus ex, et venenatis massa tincidunt quis. Quisque varius, risus vitae consequat fringilla, ante nisi posuere tortor, eu aliquet libero dolor id turpis. Sed semper, felis sed iaculis convallis, ex dui vulputate elit, nec pretium turpis dolor quis augue. Phasellus purus odio, cursus sed purus at, vulputate eleifend felis.

                    Nam suscipit libero dui, id maximus sem rutrum non. Maecenas quis semper velit. Fusce dui diam, feugiat suscipit lorem vitae, efficitur pharetra nibh. Nunc nec rutrum mi, ut ornare leo. Etiam a congue libero. Maecenas congue molestie maximus. Suspendisse varius eu orci id eleifend. Cras vel nisl id dui ultrices iaculis sit amet faucibus lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ac viverra risus.
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col">
                <button class="button button-block button-balanced" ng-click="readMore.share()">
                    Save
                </button>
            </div>
        </div> -->

    </ion-content>
</ion-view>
