<ion-view view-title="Product Details" class="loginview">
    <ion-header-bar align-title="left" class="bar-positive bar-teal">
        <div class="buttons">
            <i class="icon ion-arrow-left-c backIcon" ng-click="product.backToHome()"></i>
        </div>
        <h1 class="title">{{product.property.propertyName}}</h1>
    </ion-header-bar>
    <ion-content class="loginview">

        <div class="loginview">
            <ion-slide-box on-slide-changed="slideChanged(index)" class="loginview">
                <ion-slide class="loginview" ng-repeat="amenity in product.property.propertyAmenities">
                    <img src="{{amenity.amenityImage}}" class="fullWidth">
                </ion-slide>
            </ion-slide-box>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                {{product.currentAmenityDescription}} <a ng-click="product.readMore()">Read More</a>
            </div>
        </div>

        <div class="card">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li ng-class="getTabClass($index+1)" ng-click="setActiveTab($index+1)" ng-repeat="propertyType in product.property.propertyType"><a data-toggle="tab">{{propertyType.type}}</a></li>
                </ul>
                <div class="tab-content">
                    <div ng-class="getTabPaneClass($index+1)" id="deal" ng-repeat="propertyDetails in product.property.propertyType">
                        <div class="card">
                            <div class="row">
                                <div class="col-xs-6">
                                    {{propertyDetails.size}} sqft.
                                </div>
                                <div class="col-xs-6 textAlignRight">
                                    {{propertyDetails.costPerSqFt}}/sqft+.
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-8">
                                    <b>Minimum Total Price</b>
                                </div>
                                <div class="col-xs-4 textAlignRight">
                                    {{propertyDetails.size*propertyDetails.costPerSqFt}}+ Lacs
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <b>Down Payment</b>
                                </div>
                                <div class="col-xs-6 textAlignRight">
                                    {{product.downpaymentRange}} %
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="item range range-positive">
                                        <input type="range" name="volume" min="20" max="100" ng-model="product.downpaymentRange" ng-change="product.calculateEMIRange()">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-7">
                                    <b>EMI Range</b>
                                    <h6>20 Years Tenure @ 9.5% p.a.</h6>
                                </div>
                                <div class="col-xs-5 textAlignRight">
                                    <h4>{{product.emiAmount}} Rs</h4>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
        </div>

        <div class="row loginview">
            <div class="col text-center">
                <button class="button button-block button-balanced" ng-click="product.requestCallback()">
                    Request Callback
                </button>
            </div>
            <div class="col text-center">
                <button class="button button-block button-assertive" ng-click="product.customize()">
                    Customize
                </button>
            </div>
        </div>


    </ion-content>
</ion-view>