.info {
	font-size: large;
	position: absolute;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #BBBBBB;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: table;
}

.loginview
{
	background: transparent !important;
}

.backIcon
{
	font-size: 30px;
	margin-top: 2px;
}

.bar-teal
{
	background-color: #59788C !important;
}

.displayNone
{
	display: none !important;
}

.fullWidth
{
	width: 100% !important;
}

.carousel
{
	background: transparent !important;
}

.textAlignRight
{
    text-align: right;
}

/* Slider Ionic */
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 10px;
  color: #000;
  background-color: #fff;
  text-align: center;
}

.button.ng-hide{
  display:none;
}

.slider-pager
{
    bottom: 50px !important;
}

.slider-pager .slider-pager-page
{
    color: #FFF !important;
}

/* Slider Ionic */

/* Left Tabs */
.tabs-left>.nav-tabs>li, .tabs-right>.nav-tabs>li {
    /*float: none;*/
}

.tabs-left>.nav-tabs {
    /*float: left;*/
    margin-right: 19px;
    border-right: 1px solid #ddd;
}
/* Left Tabs */